.accordion__item {
    width: 100%;
    border-top: 1px solid #fff;
}

.accordion__item:first-child {
    border: none;
}

.accordion__trigger {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    background-color: #007edf;
    border: none;
}

.accordion__item.is-open .accordion__trigger {
    color: #fff;
    background-color: #f92672;
}

.accordion__content {
    background-color: #fff;
}

.accordion__content p {
    margin: 0;
    padding: 20px;
}

.accordion {
    list-style-type: none;
}

.cities > a:hover, .cities > a:active {
    background-color: rgba(202, 205, 0, 0.67);
}

#map {
    height: 600px;
    background-color: #CCC;
}

.cities {
    border-bottom: 1px solid rgba(111, 111, 111, 0.35);
    background-color: rgba(235, 166, 77, 0.1);
}

.cities a {
    display: block;
    padding: 10px 15px;
}

#mapAccordion {
    width: 250px;
}

#wrapper {
    position: relative;
}

.over_map {
    position: absolute;
    margin: 0;
    top: 5px;
    right: 5px;
    padding: 0;
    z-index: 99;
}

.city_scrollable {
    max-height: 350px;
    overflow-y: auto;
}

.store_address {
    color: #ffa133
}

.store_tittle {
    text-decoration: underline;
}

@media screen and (max-width: 765px) {
    .over_map {
        position: relative;
        width: 100%;
        /*top: 80%;*/
        /*left: 50px;*/
    }

    #mapAccordion {
        width: 100%;
    }
}